.mwp-button {
  height: 36px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.mwp-button--primary {
  background-color: #2F54EB;
  color: #FFFFFF;
}

.mwp-button--sub {
  background-color: #FFFFFF;
  color: #2F54EB;
  border: 1px solid #2F54EB;
}

.mwp-button--normal {
  background-color: #FFFFFF;
  color: #555555;
  border: 1px solid #555555;
}

.mwp-button--medium {
  padding: 5px 16px;
}

.mwp-button--small {
  padding: 1px 8px;
}
