// Colorless/无色系
$-color-colorless--1:#FFFFFF !default;
$-color-colorless--2:#F5F5F5 !default;
$-color-colorless--3:#EEEEEE !default;
$-color-colorless--4:#DDDDDD !default;
$-color-colorless--5:#CCCCCC !default;
$-color-colorless--6:#BBBBBB !default;
$-color-colorless--7:#888888 !default;
$-color-colorless--8:#555555 !default;
$-color-colorless--9:#222222 !default;
$-color-colorless--10:#000000 !default;

// Geek Blue/极客蓝
$-color-geekBlue--1:#F0F5FF !default;
$-color-geekBlue--2:#D6E4FF !default;
$-color-geekBlue--3:#ADC6FF !default;
$-color-geekBlue--4:#85A5FF !default;
$-color-geekBlue--5:#597EF7 !default;
$-color-geekBlue--6:#2F54EB !default;
$-color-geekBlue--7:#1D39C4 !default;
$-color-geekBlue--8:#10239E !default;
$-color-geekBlue--9:#061178 !default;
$-color-geekBlue--10:#030852 !default;

// Soft Pink/温柔粉
$-color-softPink--1:#FFF0F5 !default;
$-color-softPink--2:#FFDBE8 !default;
$-color-softPink--3:#FFB3D1 !default;
$-color-softPink--4:#FF8ABD !default;
$-color-softPink--5:#FF61AB !default;
$-color-softPink--6:#F63796 !default;
$-color-softPink--7:#CF237F !default;
$-color-softPink--8:#A81468 !default;
$-color-softPink--9:#820952 !default;
$-color-softPink--10:#5C063C !default;

// Fighting Red/斗志 !default红
$-color-fightingRed--1:#FFF2F0 !default;
$-color-fightingRed--2:#FFE3DF !default;
$-color-fightingRed--3:#FECFC9 !default;
$-color-fightingRed--4:#FFA7A1 !default;
$-color-fightingRed--5:#FF7C78 !default;
$-color-fightingRed--6:#F64C4C !default;
$-color-fightingRed--7:#CF363B !default;
$-color-fightingRed--8:#A8232C !default;
$-color-fightingRed--9:#821520 !default;
$-color-fightingRed--10:#5C0E18 !default;

// Life Green/生命绿
$-color-lifeGreen--1:#F0FFF6 !default;
$-color-lifeGreen--2:#C1F5D9 !default;
$-color-lifeGreen--3:#92E8BD !default;
$-color-lifeGreen--4:#67DBA5 !default;
$-color-lifeGreen--5:#40CF91 !default;
$-color-lifeGreen--6:#1EC281 !default;
$-color-lifeGreen--7:#109C68 !default;
$-color-lifeGreen--8:#067550 !default;
$-color-lifeGreen--9:#004F37 !default;
$-color-lifeGreen--10:#00291E !default;

// Vitality Yellow/活力黄
$-color-vitalityYellow--1:#FFFBE6 !default;
$-color-vitalityYellow--2:#FFF1B8 !default;
$-color-vitalityYellow--3:#FFE58F !default;
$-color-vitalityYellow--4:#FFD666 !default;
$-color-vitalityYellow--5:#FFC53D !default;
$-color-vitalityYellow--6:#FAAD14 !default;
$-color-vitalityYellow--7:#D48806 !default;
$-color-vitalityYellow--8:#AD6800 !default;
$-color-vitalityYellow--9:#874D00 !default;
$-color-vitalityYellow--10:#613400 !default;

// Warm Orange/温暖橙
$--color-orange--1:#FFF2E8 !default;
$--color-orange--2:#FFD8BF !default;
$--color-orange--3:#FFBB96 !default;
$--color-orange--4:#FF9C6E !default;
$--color-orange--5:#FF7A45 !default;
$--color-orange--6:#FA541C !default;
$--color-orange--7:#D4380D !default;
$--color-orange--8:#AD2102 !default;
$--color-orange--9:#871400 !default;
$--color-orange--10:#610B00 !default;

$--color-danger: #F56C6C !default;