// Colorless/无色系
$-color-colorless--1:#FFFFFF;
$-color-colorless--2:#F5F5F5;
$-color-colorless--3:#EEEEEE;
$-color-colorless--4:#DDDDDD;
$-color-colorless--5:#CCCCCC;
$-color-colorless--6:#BBBBBB;
$-color-colorless--7:#888888;
$-color-colorless--8:#555555;
$-color-colorless--9:#222222;
$-color-colorless--10:#000000;


// Geek Blue/极客蓝
$-color-geekBlue--1:#F0F5FF;
$-color-geekBlue--2:#D6E4FF;
$-color-geekBlue--3:#ADC6FF;
$-color-geekBlue--4:#85A5FF;
$-color-geekBlue--5:#597EF7;
$-color-geekBlue--6:#2F54EB;
$-color-geekBlue--7:#1D39C4;
$-color-geekBlue--8:#10239E;
$-color-geekBlue--9:#061178;
$-color-geekBlue--10:#030852;

// Soft Pink/温柔粉
$-color-softPink--1:#FFF0F5;
$-color-softPink--2:#FFDBE8;
$-color-softPink--3:#FFB3D1;
$-color-softPink--4:#FF8ABD;
$-color-softPink--5:#FF61AB;
$-color-softPink--6:#F63796;
$-color-softPink--7:#CF237F;
$-color-softPink--8:#A81468;
$-color-softPink--9:#820952;
$-color-softPink--10:#5C063C;

// Fighting Red/斗志红
$-color-fightingRed--1:#FFF2F0;
$-color-fightingRed--2:#FFE3DF;
$-color-fightingRed--3:#FECFC9;
$-color-fightingRed--4:#FFA7A1;
$-color-fightingRed--5:#FF7C78;
$-color-fightingRed--6:#F64C4C;
$-color-fightingRed--7:#CF363B;
$-color-fightingRed--8:#A8232C;
$-color-fightingRed--9:#821520;
$-color-fightingRed--10:#5C0E18;


// Life Green/生命绿
$-color-lifeGreen--1:#F0FFF6;
$-color-lifeGreen--2:#C1F5D9;
$-color-lifeGreen--3:#92E8BD;
$-color-lifeGreen--4:#67DBA5;
$-color-lifeGreen--5:#40CF91;
$-color-lifeGreen--6:#1EC281;
$-color-lifeGreen--7:#109C68;
$-color-lifeGreen--8:#067550;
$-color-lifeGreen--9:#004F37;
$-color-lifeGreen--10:#00291E;

// Vitality Yellow/活力黄
$-color-vitalityYellow--1:#FFFBE6;
$-color-vitalityYellow--2:#FFF1B8;
$-color-vitalityYellow--3:#FFE58F;
$-color-vitalityYellow--4:#FFD666;
$-color-vitalityYellow--5:#FFC53D;
$-color-vitalityYellow--6:#FAAD14;
$-color-vitalityYellow--7:#D48806;
$-color-vitalityYellow--8:#AD6800;
$-color-vitalityYellow--9:#874D00;
$-color-vitalityYellow--10:#613400;

// Warm Orange/温暖橙
$--color-orange--1:#FFF2E8;
$--color-orange--2:#FFD8BF;
$--color-orange--3:#FFBB96;
$--color-orange--4:#FF9C6E;
$--color-orange--5:#FF7A45;
$--color-orange--6:#FA541C;
$--color-orange--7:#D4380D;
$--color-orange--8:#AD2102;
$--color-orange--9:#871400;
$--color-orange--10:#610B00;